#client {
    section { margin: 11vh 0; }
    .colored { color: var(--red-main); }
    p { line-height: 4vh; }
    #wellcome {
        display: flex;
        align-items: center;
        padding: 20px;
        h2 { font-size: 2pc; }
        img {
            width: 50vw;
        }
    }
    #jump {
        text-align: center;
        hr { width: 90vw; }
        div { padding: 12px; }
        a {
            padding: 20px 30px;
            border-top: 2px solid white;
            &:hover { border-top: 2px solid var(--red-main); }
        }
    }
    #news {
        #display, #lastUpdate { padding: 30px; }
        #display {
            min-height: 41.5vh;
            padding-bottom: 50px;
            position: relative;
            border-top: 2px solid var(--red-main);
            border-bottom: 2px solid var(--red-main);
            span:first-of-type {
                position: absolute;
                top: 10px;
                right: 10px;
            }
            img { width: 6vw; }
            #leftArrow, #rightArrow { 
                bottom: 5%;
                position: absolute;
                display: flex;
                align-items: center;
                transition: 200ms;
                cursor: pointer;
                font-size: 1.7pc; 
                color: var(--red-main);
            }
            #leftArrow:hover {
                transform: translateX(-5px);
                &::after {
                    color: var(--red-main);
                    font-size: 0.95pc;
                    margin-left: 7px;
                    content: "Anteriror";
                }
            }
            #rightArrow:hover {
                transform: translateX(5px);
                &::before {
                    color: var(--red-main);
                    font-size: 0.95pc;
                    margin-right: 7px;
                    content: "Proximo";
                }
            }
        }
        #lastUpdate {
            border-radius: .4rem;
            margin: 5vh auto;
            width: 50vw;
            border: 2px solid var(--red-main);
        }
    }
    #login { 
        text-align: center; 
        form { margin: 5vh auto; }
    }
}