#home {
    display: flex;
    nav {
        background-color: var(--background-darker);
        width: 4vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        svg {
            cursor: pointer;
            width: 2.3vw;
            padding: 7px;
            fill: white;
            border-right: 2px solid var(--background-darker);
            &.selected { border-right: 2px solid var(--red-main); }
            &.selected, &:hover { fill: var(--red-main); }
        }
    }
    > div { width: 100%; }
    #dashboard {
        width: 100%;
    }
}