#home {
    display: flex;
    nav {
        background-color: var(--background-darker);
        width: 4vw;
        min-width: 70px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        svg {
            cursor: pointer;
            width: 2.3vw;
            padding: 7px;
            fill: white;
            border-right: 2px solid var(--background-darker);
            &.selected { border-right: 2px solid var(--red-main); }
            &.selected, &:hover { fill: var(--red-main); }
        }
    }
    > div { width: 100%; }
    #dashboard {
        width: 100%;
        height: 88.56%;
        select {
            border: 1px solid rgba(0, 0, 0, 0.623);
            width: 8vw;
            padding: 9px;
            border-radius: .2rem;
            background-color: var(--background);
            box-shadow: inset 0 0 3px 0px var(--background-darker);
            color: white;
        }
        input {
            border: 1px solid rgba(0, 0, 0, 0.623);
            color: white;
            padding: 10px 15px;
            background-color: var(--background);
            border-radius: .3rem;
            box-shadow: inset 0 0 3px 0px var(--background-darker);
        }
        button {
            cursor: pointer;
            padding: 8px 10px;
            background-color: var(--red-main);
            color: white;
            border-radius: .7rem;
            &:hover { background-color: var(--red-main-darker); }
        }
        #tools {
            padding: 40px 2vw 10px;
            > * { margin: 1px 25px 0 25px; }
        }
        .tools {
            display: none;
            right: 0;
            position: absolute;
            svg {
                margin-right: 20px;
                width: 1.2vw;
                transition: 200ms;
                fill: white;
                &:hover {
                    cursor: pointer;
                    fill: var(--red-main);
                }
            }
        }
        #tickets {
            margin: 20px auto;
            background-color: var(--background-darker);
            width: 90%;
            height: 67vh;
            padding: 20px 2vw;
            border-radius: 10px;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.87) inset;
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;
            grid-gap: 15vh 10px;
            
            .ticket {
                div{margin: 10px 0;}
                display: flex;
                flex-direction: column;
                min-height: fit-content;
                width: 25vw;
                position: relative;
                margin: 20px;
                padding: 15px;
                filter: drop-shadow(0px 10px 5px #0000008a);
                .description { 
                    word-break: break-all;
                    height: 7vh;
                    border-radius: 10px;
                    border: 2px solid var(--background-darker);
                    padding: 5px; 
                }
                &:hover .tools { display: block; };
                .tags {
                    display: flex;
                    align-items: center;
                    gap: 10px; 
                    align-items: center;   
                    height: fit-content;
                    min-width: 20vw;
                    padding: 0px;
                    margin: 0;
                    left: 5px;
                    position: relative;
                    
                    .more {
                        bottom: -5px;
                        padding: 2px 10px;
                        border-radius: .4rem;
                        background-color: var(--red-main-darker);
                        font-size: 1.2pc;
                        cursor: pointer;
                        &:hover { background-color: var(--red-main); }
                    }
                }
                 span{
                    margin: 20px 0;
                 };
                .see-more {
                    min-height: fit-content;
                    width: 100%;
                    bottom: -20%;
                    left: -10px;
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0;
                    flex-direction: row;
                    position: absolute;
                    z-index: 99;
                    filter: drop-shadow(0px 10px 5px #0000002c);
                    .more {
                        right: 50px;
                        bottom: 35px;
                        margin: 0px 25px;
                    }
                    .tag {  margin: 15px;}
                }
            }
            h2 {
                margin-top: 20vh;
                text-align: center;
            }
        }
        #dashboard-overview {
            height: 87vh;
            padding: 10px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            #workers, #technicians, #companyTickets {
                padding: 10px;
                border-radius: .3rem;
                border-left: 10px solid var(--red-main-darker);
                h2 { 
                    display: inline-block;
                    margin: 0 0 5px 0; 
                }
                button, input, select { margin-left: 20px; };
                .display { height: 93.4%; }
                #peopleFilters, #ticketFilters {
                    padding: 5px;
                    display: flex;
                    align-items: center;
                }
            }
            #workers, #technicians {
                width: 40vw;
                height: 70vh;
            }
            #companyTickets {
                margin-top: 20px;
                width: 92.1%;
                height: 60vh;
                .item {
                    padding-bottom: 20px;
                    display: block;
                    h2 { margin: 0 0 10px 25px; }
                    div:first-of-type {
                        display: flex;
                        align-items: center;
                        > * { margin: 0 0 0 15px; }
                        h3:first-of-type { margin-left: 0; }
                    }
                    &.open { border-left: 10px solid var(--green-main); }
                    &.closed { border-left: 10px solid var(--red-main); }
                    &.ongoing { border-left: 10px solid var(--blue-main); }
                    &.waiting { border-left: 10px solid yellow; }
                }
            }
            #workers .item {
                position: relative;
                &:hover .tools { display: block; };
                &.offline { border-left: 20px solid var(--red-main); }
                &.online { border-left: 20px solid var(--green-main); }
            }

            .item {
                margin: 10px;
                background-color: var(--ticket-background);
                padding: 10px;
                border-radius: .2rem;
                display: flex;
                align-items: center;
                img {
                    margin-left: 10px;
                    border-radius: 50%;
                }
                > * { margin-left: 25px; }
            }

        }
    }
    #ticketModal, #workerModal { text-align: center; }
    #workerModal {
        width: 27%;
        top: 10%;
        left: 36%;
    }
    #ticketModal  {

        top: 7%;
        left: 31%;
        textarea {
            width: 25vw;
            height: 10vh;
            resize: none;
            outline: none;
            font-size: 0.9pc;
        }
        #tagsManager {
            display: flex;
            flex-direction: column;
            margin-top: 2vh;
            justify-content: center;
            align-items: center;
            > div {
                border-radius: 5px 5px 0 0;
                padding: 10px;
                background-color: var(--card-background);
                width: 25vw;
                min-height: 5vh;
                margin: 0 auto;
                overflow-x: auto;
                overflow-y: hidden;
                
                .tag {
                    margin: 10px 6px;
                    display: inline-block;
                    padding-left: 12px;
                    min-width: 3vw;
                    .delete { 
                        cursor: pointer;
                        margin-right: 13px;
                     }
                }
            }
            input {
                border-radius: 0 0 5px 5px;
                padding: 4px 10px;
                &:not(:placeholder-shown) {
                    border: 1px solid black;
                }
            }
        }
    }

    #tagsModal {
        width: 29.4% !important;
        border-radius: .3rem;
        border-left: 10px solid var(--red-main);
        top: 33%;
        left: 4.9%;
    }
}