#home {
    display: flex;
    nav {
        background-color: var(--background-darker);
        width: 4vw;
        height: 93vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        svg {
            width: 2.5vw;
            padding: 9px;
            fill: white;
            border-right: 2px solid var(--background-darker);
            &.selected { border-right: 2px solid var(--red-main); }
            &.selected, &:hover { fill: var(--red-main); }
        }
    }
    #dashboard {
        width: 100%;
        header {
            border-bottom: 2px solid var(--background-darker);
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            #user-image {
                width: 2.7vw;
                padding: 2px;
                border-radius: 50%;
                background-color: black;
            }
            #logo {
                width: 7vw;
            }
        }
    }
}