@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(landing.css);
@import url(auth.css);
@import url(start.css);
@import url(error.css);
@import url(client.css);
@import url(home.css);
@import url(technician.css);
@import url(faq.css);

:root {
    --red-main: #c12626;
    --red-main-darker: #871313;
    --red-others: #be1a1a;
    --blue-main: #046db3;
    --green-main: #006e00;
    --green-main-darker: #004900;
    --background: #1c1c1c;
    --background-darker: #111111;
    --ticket-background: #282828;
    --ticket-background-darker: #1f1e1e;
    --card-background: rgba(0, 0, 0, 0.285);
}

html { scroll-behavior: smooth; }

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--background);
}

h1, h2, h3 { font-family: "Poppins", sans-serif; }

input, select, button {
    outline: none;
    border: none;
}

.marked {
    text-decoration: var(--red-others) solid underline;
}

.form {
    position: relative;
    padding: 25px 35px 35px 35px;
    min-width: 400px;
    max-width: 600px;
    border: 2px solid var(--red-main-darker);
    border-radius: .3rem;
    box-shadow: 0 0px 11px 2px black;
    h2 {
        top: 2%;
        left: 7%;
        color: var(--red-main);
        margin: 0 0 5px 0;
        text-align: left;
    }
    img {
        margin-top: -18%;
        width: 3vw;
        padding: 10px 12px;
        background-color: var(--background);
        border-radius: 50%;
        border: inherit;
    }
    input {
        width: 25vw;
        height: 5vh;
        &:not(:placeholder-shown) {
            border: 1px solid var(--green-main);
        }
    }
    select {
        height: 8vh;
        width: 18vw;
    }
    input, select, textarea {
        margin-top: 20px;
        transition: 300ms;
        padding: 10px;
        border-radius: 5px;
        background-color: var(--card-background);
        border: 1px solid var(--card-background);
        color: white;
        &:hover:placeholder-shown, &:focus:placeholder-shown {
            border-bottom: 1px solid var(--red-main);
        }
    }
    button {
        width: 21vw;
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 1rem;
        background-color: var(--red-main);
        color: white;
        cursor: pointer;
        font-size: 1.05pc;
        transition: 150ms;
        &:hover {
            background-color: var(--red-main-darker);
        }
    }
    p {
        margin: 0;
        display: none;
        margin: 5px 0;
        color: var(--red-main);
    }
    a {
        color: var(--red-main);
        border-bottom: 2px solid var(--background);
        transition: 300ms;
        &:hover {
            border-bottom: 2px solid var(--red-main);
        }
    }
}

.ticket {
    border-left: 10px solid var(--red-main);
    background-color: var(--ticket-background);
    border-radius: 10px;
}

.tag {
    background-color: var(--red-main-darker);
    padding: 7px 18px;
    border-radius: .4rem;
    margin: 0 30px 0 0;
    &.solved { background-color: var(--green-main); }
    &.status { background-color: rgb(200, 180, 0); }
}

.scrollable {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 3px;
        background-color: var(--background);
    }
    &::-webkit-scrollbar-thumb { background-color: var(--background-darker); }
}

.modal {
    background-color: var(--ticket-background);
    position: absolute;
    z-index: 99;
}

.hide { display: none !important; }
.show { display: block !important; }