#start {
    text-align: center;
    > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        > div {
            img {
                width: 35vw;
            }
        }
    }
    #logo {
        margin: 5vh 0;
        width: 10vw;
    }
    h1 {
        text-align: left;
        width: 40vw;
    }
    form {
        padding-bottom: 15px;
        h2 {
            margin: 0;
        }
        a {
            color: var(--red-main);
            border-bottom: 2px solid var(--background);
            transition: 300ms;
            &:hover {
                border-bottom: 2px solid var(--red-main);
            }
        }
    }
}