#technician {
    form {
        margin: 25.5vh auto;
    }
    #filters {
        padding: 20px 0px;
        position: relative;
        #tagsManager {
            user-select: none;
            top: 6vh;
            left: 3vw;
            z-index: 99;
            position: absolute;
            background-color: var(--background-darker);
            border-radius: .4rem;
            display: none;
            .close {
                font-size: 1.4pc;
                position: absolute;
                top: 2px;
        
                right: 7px;
                cursor: pointer;
                &:hover {
                    color: var(--ticket-background);
                }
            }
            > div {
                max-width: 20vw;
                width: 20vw;
                padding: 14px 12px 12px 12px;
                p{text-align: center;}
                .tag {
                    display: inline-block;
                    align-items: center;
                    border-radius: .4rem;
                    max-width: fit-content;
                    background-color: var(--red-main);
                    padding: 6px 12px 6px 5px;
                    margin: 8px;
                    span { margin-left: 7px; }
                    .delete {
                        font-size: 1.1pc;
                        transition: 200ms;
                        cursor: pointer;
                        &:hover {
                            color: var(--background);
                        }
                    }
                }
            }
            input {
                color: white;
                border-top: 2px solid var(--red-main);
                background-color: var(--background-darker);
                padding: 4%;
                width: 92%;
                height: 2.5vh;
                margin-top: -10px;
                border-radius: 0 0 .4rem .4rem;
                font-size: 0.9pc;
            }
        }
        > span {
            margin-left: 5vw;
            padding: 10px;
            border-bottom: 2px solid rgba(0, 0, 0, 0);
            transition: 200ms;
            &.selected { border-bottom: 2px solid var(--red-main); }
            &:hover {
                cursor: pointer;
                border-bottom: 2px solid var(--red-main);
            }
        }
    }
    #tickets {
        height: 79.16vh;
        .ticket {
            position: relative;
            margin: 3vw;
            text-align: justify;
            padding: 20px;
            margin-bottom: 20px;
            .state {
                margin: 0 0 10px 0;
                &.medium { color: yellow; };
                &.critical { color: red; };
            }
            .box {
                overflow-y: auto;
                max-height: 50vh;
                box-shadow: inset 0px 0px 8px 0px black;
                margin: 20px 0 0 0;
                padding: 5px 15px;
                border-radius: .3rem;
            }
            .more-details {
                text-align: center;
                background-color: var(--background-darker);
                width: 30px;
                height: 30px;
                border-radius: .4rem;
                font-size: 1.5pc;
                &:hover {
                    cursor: pointer;
                    background-color: var(--background);
                }
            }
            .title {
                display: inline;
            }
            .date {
                float: right;
            }
            .details {
                height: 0;
                overflow: hidden;
                transition: 800ms;
                &.opened { 
                    height: 48vh !important;
                }
                .description {
                    border-left: 5px solid var(--red-main);
                    padding: 10px;
                    margin: 35px 0 15px 0;
                    max-height: 37vh;
                    overflow-y: auto;
                    h1 { margin-top: 0; }
                }
                .start-chat {
                    transition: 300ms;
                    font-size: 1.05pc;
                    border-radius: .4rem;
                    padding: 5px 10px;
                    color: white;
                    background-color: var(--red-main);
                    &:hover {
                        cursor: pointer;
                        background-color: var(--red-main-darker);
                    }
                }
            }
        }
    }
    #chat {
        top: 15%;
        left: 20%;
        border-radius: .3rem;
        width: 60vw;
        height: 60vh;
        display: flex;
        h2 {
            align-self: center;
            margin: 0 auto;
        }
        #chats {
            width: 34%;
            padding: 7px;
            border-right: 2px solid var(--red-main-darker);
            img {
                margin-right: 10px;
                width: 3vw;
                height: 6vh;
                border-radius: 50%;
            }
            .chat {
                height: 6.5vh;
                transition: 250ms;
                margin: 3px 0;
                display: flex;
                align-items: center;
                padding: 5px;
                border-radius: .3rem;
                &:hover {
                    cursor: pointer;
                    background-color: var(--ticket-background-darker);
                }
                > div {
                     width: 75%; 
                     margin-left: 10px;
                }
                span {
                    font-size: 0.8pc;
                }
                .info {
                    display: flex;
                    justify-content: space-between;
                }
                &.selected { background-color: var(--ticket-background-darker); }
            }
        }
        #selected-chat {
            width: 66%;
            #messages {
                overflow: auto;
                width: 100%;
                height: 90%;
                .message {
                    border-radius: .2rem;
                    position: relative;
                    margin: 10px;
                    padding: 5px 45px 5px 5px;
                    width: 20vw;
                    background-color: var(--ticket-background-darker);
                    p { 
                        margin: 0; 
                        overflow-wrap: anywhere;
                    }
                    span {
                        position: absolute;
                        font-size: 0.7pc;
                        right: 5px;
                        bottom: 5px;
                    }
                }
                .message.user {
                    background-color: var(--green-main-darker);
                    float: right;
                }
            }
            #message-input {
                height: 10%;
                border-top: 1px solid var(--ticket-background-darker);
                display: flex;
                align-items: center;
                input {
                    width: 87%;
                    margin-right: 7px;
                    padding: 7px 10px;
                    background-color: inherit;
                    color: white;
                    &::placeholder { color: rgba(255, 255, 255, 0.5); }
                }
                img {
                    width: 2vw;
                    cursor: pointer;
                    transition: 150ms ease-in-out;
                    &:active {
                        transform: scale(0.9);
                    }
                }
            }
        }
    }
}